
.feature-container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 3.5em auto;
  grid-template-areas: 
  'heading heading'
  'main main' ;
  width: 100%;
  padding-top: 2.5rem;
  color: white;
  height: 700vh;
}

.feature-heading{
  grid-area: heading;
  font-family: "Geist Mono", monospace;
  color: rgb(202, 199, 199) ; 
  font-size: 1rem;
  font-weight: 500;
  padding-left: 2.5rem;
}

.main-sticky-container{
  grid-area: main;
  display: flex;
  gap: 2rem;
  position: sticky;
  top: 5em;
  height: 102vh;

}


.left-section-container{
  width: 100%;
  overflow: hidden;
}

.right-section-container{
  width: 100%;
  overflow: hidden;
}


.left-heading{
  font-family: "Roboto Mono", serif;
  color: white;
  font-size: 1.9rem;
  font-weight: 400;
}

.size-matters{
  font-size: 2.9rem;
  color:rgb(233, 222, 211); 
}

.Oswald{
  font-family: "Oswald", sans-serif;

}

.Jersey{
  font-family: "Jersey 15", sans-serif;
}

.Geist-Mono{
  font-family: "Geist Mono", monospace;
}

.Roboto-Mono{
  font-family: "Roboto Mono", serif;
}

.Roboto{
  font-family: "Roboto", serif;
}


.left-text{
  font-family: "Roboto Mono", serif;
  color: rgb(202, 199, 199) ; 
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 30px;
}

.feature1-container{
  padding: 2rem;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature2-container{
  padding: 2rem;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature3-container{
  padding: 2rem;
  height: 120vh;
  display: flex;  
  flex-direction: column;
  justify-content: center;
}


.feature-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding-left: 1rem;
  padding-top: 1rem;
}

.feature1-image{
  background-image: url('/images/feature1.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.feature2-image{
  background-image: url('/images/feature2.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;

}

.feature3-image{
  background-image: url('/images/feature3.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

/* media query */

@media (min-width: 768px) and (max-width: 1024px) {
  .feature-img-container{
    height: 70vh;
  }
  .left-text {
    font-size: 0.7rem; /* Slightly smaller */
  }

  .left-heading {
    font-size: 1.5rem;
  }

  .size-matters {
    font-size: 2.5rem;
  }

}

@media (min-width: 526px) and (max-width: 768px) {
  .feature-img-container{
    height: 70vh;
    padding-right: 1em;
    padding-top: 1.8em;
  }
  .left-text {
    font-size: 0.5rem; /* Slightly smaller */
  }

  .left-heading {
    font-size: 0.9rem;
  }

  .size-matters {
    font-size: 1.9rem;
  }
}

@media (min-width: 425px) and (max-width: 526px) {
  .feature-img-container{
    height: 70vh;
    padding-right: 1em;
    padding-top: 1.8em;
  }
  .left-text {
    font-size: 0.5rem; 
    text-align: center;
  }

  .left-heading {
    font-size: 0.9rem;
    text-align: center;
  }

  .size-matters {
    font-size: 1.9rem;
  }

  .main-sticky-container{
    position: static;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    justify-content: center;
    align-items: center;
  }

  .feature-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: auto;

  }

  .feature1-container,.feature2-container,.feature3-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 124vh;
    gap: 1rem;
  }

}

@media (min-width: 320px) and (max-width: 425px) {
  .feature-img-container{
    height: 70vh;
    padding-right: 1em;
    padding-top: 1.8em;
  }
  .left-text {
    font-size: 0.55rem; 
    text-align: center;
  }

  .left-heading {
    font-size: 0.9rem;
    text-align: center;
  }

  .size-matters {
    font-size: 1.9rem;
  }

  .main-sticky-container{
    position: static;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .feature-container{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    height: auto;
  }

  .feature1-container,.feature2-container,.feature3-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: .6rem;
  }

  .feature1-image,.feature2-image,.feature3-image{
    width: 80%;
    height: 53.3%;
  }

}

@media (max-width: 320px) {
  .feature-img-container{
    height: 70vh;
    padding-right: 1em;
    padding-top: 1.8em;
  }
  .left-text {
    font-size: 0.5rem; 
    text-align: center;
  }

  .left-heading {
    font-size: 0.8rem;
    text-align: center;
  }

  .size-matters {
    font-size: 1.8rem;
  }

  .main-sticky-container{
    position: static;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .feature-container{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    height: auto;
  }

  .feature1-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90.4vh;
    gap: .6rem;
  }
  .feature2-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95.5vh;
    gap: .6rem;
  }
  .feature3-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88.5vh;
    gap: .6rem;
  }

  .feature1-image{
    width: 80%;
    height: 60%;
  }
  .feature2-image{
    width: 80%;
    height: 60%;
  }
  .feature3-image{
    width: 80%;
    height: 60%;
  }

}