.Oswald {
  font-family: "Oswald", sans-serif;
}

.Jersey {
  font-family: "Jersey 15", sans-serif;
}

.Geist-Mono {
  font-family: "Geist Mono", monospace;
}

.Roboto-Mono {
  font-family: "Roboto Mono", serif;
}

.Roboto {
  font-family: "Roboto", serif;
}

.text1{
  font-size: 2.3rem;
  color: #E9DED3;
}

.title-container {
  display: flex;
  justify-content: center;
}

.title-container p {
  color: #E9DED3;
  font-size: 3rem;
}

.titleitis {
  font-size: 4.5rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

.getstarted:hover {
  background-color: #CDCDCD;
}

.getstarted-ham {
  display: flex;
  align-items: center;
  font-family: "Geist Mono", monospace;
  font-weight: 560;
  font-size: .85rem;
  background-color: #FFFFFF;
  color: black !important;
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: all .4s ease;
}

.getstarted-ham a {
  color: black !important;
  background-color: inherit;
}

.getstarted-ham:hover {
  background-color: #CDCDCD;
}

.img-container {
  position: relative;
  display: block;
}

.useit-container{
  color:  white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top:3.5rem;
  padding-bottom:3rem;
  height: 155.7vh;
  width: 100%;
  }

.get-started{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 10;
}

.button {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 20;
  background-color: transparent;
  transition: padding-top 0.2s ease; /* Smooth transition */
}
.useit-text{
  font-size: 1.5rem;
 color: #FFFFFF;
  margin: auto;
}


.useit-container{
  margin-top: 7rem;
}

/* Apply the active effect when the button is pressed */
.button.pressed {
  padding-top: 20px; /* Simulating the active effect */
}


.hover-area {
  left: 46.7%;
  top: 22rem;
  position: absolute;
  width: 100px;
  height: 50px; 
  cursor: pointer;
  z-index: 30;
  background-color: transparent;
}

/* Optional: Add hover effect on hoverable area */
/* Optional styling: Add animations or effects to the button */


@media (min-width: 768px) and (max-width: 1024px){
  .hover-area {
    left: 47%;
    top: 15.7rem;
    width: 70px;
    height: 40px;
  }
  .useit-text{
    font-size: 1.3rem;
   color: #FFFFFF;
    margin: auto;
  }
  .text1{
    font-size: 2rem;
    color: #E9DED3;
  }

}
@media (min-width: 526px) and (max-width: 768px) {
  .hover-area {
    left: 47.2%;
    top: 11.4rem;
    width: 50px;
    height: 35px;
  }
  .useit-text{
    font-size: 1.1rem;
   color: #FFFFFF;
    margin: auto;
  }
  .text1{
    font-size: 1.9rem;
    color: #E9DED3;
  }
}
@media (min-width: 425px) and (max-width: 526px) {
  .hover-area {
    left: 45.7%;
    top: 6rem;
    width: 35px;
    height: 28px;
  }
  .useit-text{
    font-size: 0.9rem;
   color: #FFFFFF;
    margin: auto;
  }
  .text1{
    font-size: 1.7rem;
    color: #E9DED3;
  }
}
@media (min-width: 375px) and (max-width: 425px) {
  .hover-area {
    left: 47%;
    top: 5.7rem;
    width: 25px;
    height: 25px;
  }
  .useit-text{
    font-size: 0.7rem;
   color: #FFFFFF;
    margin: auto;
  }
  .text1{
    font-size: 1.5rem;
    color: #E9DED3;
  }
}
@media (min-width: 320px) and (max-width:375px) {
  .hover-area {
    left: 46.7%;
    top: 5rem;
    width: 25px;
    height: 25px;
  }
  .useit-text{
    font-size: 0.5rem;
   color: #FFFFFF;
    margin: auto;
  }
  .text1{
    font-size: 1.3rem;
    color: #E9DED3;
  }
}
@media (max-width: 320px) {
  .hover-area {
    left: 46.3%;
    top: 4rem;
    width: 20px;
    height: 20px;
  }
  .useit-text{
    font-size: 0.5rem;
   color: #FFFFFF;
    margin: auto;
  }
  .text1{
    font-size: 1.3rem;
    color: #E9DED3;
  }
}