*{
  background-color: #000000;
  margin: none;
  padding: none;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

a{
  all: none;
  text-decoration: none;
}

/* Navbar styling  */

nav{
  position: fixed;
  top: 2rem;
  z-index: 500;
  width: 100%;
  background-color: transparent;
}

.container-navbar{
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  height: 3.7rem;
  background-color: transparent;
}

.main-navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.7rem; 
  border-radius: 10px;
  padding-left: .5rem;
  padding-right: .5rem;
}

.logoname{
  all: unset; /* Removes all default styles (experimental) */
  cursor: pointer; /* Retains the pointer cursor for usability */
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
}

.nav-ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.5rem;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;
}

.nav-ul li a {
  text-decoration: none;
  font-family: "Geist Mono", monospace;
  font-weight: 500;
  font-size: .95rem;
  color: #e5e7ebdc;
  transition: color 0.4s ease;
}

.nav-ul li a:hover{
  color:white;
}

.getstarted{
  display: flex;
  align-items: center;
  font-family: "Geist Mono", monospace;
  font-weight: 560;
  font-size: .85rem;
  background-color: #FFFFFF;
  color: black ;
  padding: 14px;
  border-radius:10px;  
  cursor: pointer;
  transition: all .4s ease;
}

.getstarted a{
  color:black ;
  background-color: inherit;
}

.getstarted:hover{
  background-color: #CDCDCD; 
}

.getstarted-ham{
  display: flex;
  align-items: center;
  font-family: "Geist Mono", monospace;
  font-weight: 560;
  font-size: .85rem;
  background-color: #FFFFFF;
  color: black !important;
  padding: 14px;
  border-radius:10px;  
  cursor: pointer;
  transition: all .4s ease;
}

.getstarted-ham a{
  color: black !important;
  background-color: inherit;
}

.getstarted-ham:hover{
  background-color: #CDCDCD; 
}

.hamburger{
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hamburger{
  cursor: pointer;

}

.burger-logo{
  transition: transform 0.5s ease;
}

.burger-logo-active{
  transform: rotateZ(90deg);
  transition: transform 0.5s ease;
}


/* navbar media query */
@media (max-width: 768px) {

  @keyframes navbar-open {
    0%{
      transform: translateY(-1000px);
    }
    100%{
      transform: translateY(-1px);
    }
  }

  @keyframes navbar-close {
    0%{
      transform: translateY(-1px);
    }
    100%{
      transform: translateY(-1000px);
    }
  }
    .hamburger{
      display: flex;
    }
    
    .nav-ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 86%;
      background-color: #000000;
      padding: 20px 0;
      text-align: center;
      gap: 15px;
      transform: translateY(-1000px);
      border-radius: 10px;
    }
  
    /* Active Class to Show Menu */
    .nav-ul.nav-active {
      display: flex;
      transform: translateY(-1px);
      animation: navbar-open 0.7s ease;
      transition: all 0.5s ease;
      margin-left: 2.3rem;
      margin-right: 2.3rem;
    }

    .nav-ul.nav-deactive {
      display: flex;
      transform: translateY(-1000px);
      animation: navbar-close 0.7s ease;
      transition: all 0.5s ease;
      margin-left: 2.3rem;
      margin-right: 2.3rem;
    }

    .getstarted {
      display: none;
    }

}


/* main section  */

.container-main{
  color:  white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top:7rem;
  padding-bottom:3rem;
  height: 155.7vh;
  width: 100%;
  }

.images-container{
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

.image-city{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/city.png');
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
  background-color: transparent;
  z-index: 10;
}

.center-text{
  top: -1em;
  left: 0;
  width: 100%;
  position: absolute;
  background-color: transparent;
  z-index: 9;
  display: flex; 
  justify-content: center; 
}

.center-text p{

  color: white;
  font-family: "Geist Mono", monospace;
  font-size: 5rem;
  font-weight: 600;
  background-color: transparent;
}

.image-moon{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/moon.png');
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
  background-color: transparent;
  z-index: 7;
}

.image-sky{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/sky.png');
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
  background-color: transparent;
  z-index: 6;
}

.about-container{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 5rem;
}

.spec-font-spendyser{
  font-family: "Jersey 15", sans-serif;
  font-size: 2rem;
  font-weight: 200;
}

.spec-font-other1{
  font-size: 1.1rem;
  font-weight: 500;
}

.spec-font-other2{
  font-size: 1.1rem;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}


.about-container h4{
  font-family: "Geist Mono", monospace;
  color: rgb(153 153 153) ; 
  font-size: 1rem;
  font-weight: 300;
}

.about-container p{
  font-family: "Geist Mono", monospace;
  color: rgb(153 153 153) ; 
  font-size: .89rem;
  text-align: center;
  font-weight: 300;
  line-height: 30px;
}
/* main lanch */

@media (max-width: 1024px) {

  .center-text p{
    font-size: 4rem;
  }
  .container-main{
    height: 136vh;

    }
  .center-text{
    top: -1em;
    left: 0em;
    width: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 9;
    display: flex; 
    justify-content: center; 
  }

  .image-sky{
    background-size: contain;
    background-repeat: no-repeat;
  }

  .image-city{
    background-size: contain;
    background-repeat: no-repeat;
  }

  .image-moon{
    background-size: contain;
    background-repeat: no-repeat;
  }



}

@media (max-width: 768px) {

  .center-text p{
    font-size: 2.5rem;
  }
  
  .container-main{
    height: 112vh;

    }

  .center-text{
    top: -1em;
    left: 0em;
    width: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 9;
    display: flex; 
    justify-content: center; 
  }

  .image-sky{
    background-size: contain;
    background-repeat: no-repeat;
  }

  .image-city{
    background-size: contain;
    background-repeat: no-repeat;
  }

  .image-moon{
    background-size: contain;
    background-repeat: no-repeat;
  }



}

@media (max-width: 526px) {

  .center-text p{
    font-size: 2rem;
  }

  .container-main{
    height: 79.8vh;

    }
  
  .center-text{
    top: -1em;
    left: 0em;
    width: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 9;
    display: flex; 
    justify-content: center; 
  }

  .image-sky{
    background-size: contain;
    background-repeat: no-repeat;
  }

  .image-city{
    background-size: contain;
    background-repeat: no-repeat;
  }

  .image-moon{
    background-size: contain;
    background-repeat: no-repeat;
  }



}

@media (max-width: 425px) {

  .center-text p{
    font-size: 1.5rem;
  }
  
  .container-main{
    height: 68.3vh;

  }

  .center-text{
    top: -1em;
    left: 0em;
    width: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 9;
    display: flex; 
    justify-content: center; 
  }

}

@media (max-width: 375px) {

  .center-text p{
    font-size: 1rem;
  }

  .container-main{
    height: 62.6vh;

  }

  .center-text{
    top: -1em;
    left: 0em;
    width: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 9;
    display: flex; 
    justify-content: center; 
  }

}

@media (max-width: 320px) {

  .center-text p{
    font-size: 1rem;
  }

  .container-main{
    height: 56.4vh;

  }

  .center-text{
    top: -1em;
    left: 0em;
    width: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 9;
    display: flex; 
    justify-content: center; 
  }

}
